<ul>
    <li>
        <a href="2_1.blade.php"> 2.1</a>
        <a href="2_2.blade.php"> 2.2</a>
        <a href="2_3.blade.php"> 2.3</a>
        <a href="2_4.blade.php"> 2.4</a>
        <a href="2_5.blade.php"> 2.5</a>
        <a href="2_6.blade.php"> 2.6</a>
        <a href="2.7.1-xem%20theo-list-link.php"> 2.7</a>
        <a href="2_8.blade.php"> 2.8</a>
        <a href="2_9.blade.php"> 2.9</a>
        <a href="2_10.blade.php"> 2.10</a>
        <a href="2_10.blade.php"> 2.10</a>
        <a href="2_11.blade.php"> 2.11</a>
        <a href="2_12_1.blade.php"> 2.12</a>
    </li>
</ul>
